---
import type { ProjectCardData } from "../types/site";
import ProjectCard from "./ProjectCard.astro";

interface Props {
  projects: ProjectCardData[];
  limit: number;
}

const { projects, limit } = Astro.props;
---

<div class="card-grid dynamic-project-grid">
  {
    projects.slice(0, limit).map((project) => (
      <ProjectCard project={project} />
    ))
  }
</div>
